.counter-area {
    .row>div {
        padding-right: calc(var(--bs-gutter-x)) !important;
        padding-left: calc(var(--bs-gutter-x)) !important;
    }

    .counter-item > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}