.main-input.privatesale-input {
    img {
        width: 50px;
        margin: 5px;
    }

    .amount {
        margin-top: 15px !important;
    }

    .max-amnt-btn {
        margin-top: 25px !important;
    }
}

.desc-panel {
    .detail-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #33365E;
    }

    .MuiList-root {
        padding: 20px;
        border: 1px solid #1d3b94;
        border-radius: 10px;
        background-color: #0d1257 !important;
    }
}