.submit-success-pane {
    padding: 200px;
    border: 1px solid #1d3b94;
    border-radius: 10px;
    background-color: #0d1257 !important;
    margin-bottom: 100px;

    h5 {
        font-size: 40px;
    }

    h6 {
        font-size: 24px;
    }
}